.navbar {
  background: #f3e6ff;
}

.navbar ul {
  text-align: right;
  justify-content: right;
}

.App {
  text-align: center;
}

body {
  background: #e6ccff;
}

.form-area {
  margin: 30px auto;
  max-width: 400px;
  padding: 20px;
}

.form-wrapper {
  background: #fff;
  padding: 15px 25px;
}

.form-wrapper h1,
.form-wrapper p {
  text-align: center;
}

.upload-area {
  margin: 5px auto;
  height: 500px;
  max-width: 500px;
  padding: 20px;
}

.upload-wrapper {
  background: #fff;
  padding: 15px 25px;
}

.upload-wrapper h1,
.upload-wrapper p {
  text-align: center;
}

/* 




 */
